<h1 class=".text-danger">Example App: Home</h1>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://media-cdn.laodong.vn/storage/newsportal/2021/8/12/941229/Premier-League.jpg?w=720&crop=auto&scale=both" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://vtv1.mediacdn.vn/zoom/550_339/2021/4/21/super-league-noi-gi-sau-khi-big-6-nuoc-anh-rut-lui-1619001341608416373206.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://vnn-imgs-f.vgcloud.vn/2021/10/31/08/ronaldo-mu-3-0-tottenham-1-600x400.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>